body { font: 12px Arial;}

path { 
    stroke: #FOFFFF;
    stroke-width: 1;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

div.tooltip {	
    position: absolute;			
    text-align: center;			
    width: 60px;					
    height: 28px;					
    padding: 2px;				
    font: 12px sans-serif;		
    border: 1px;
    border-radius: 8px;			
    pointer-events: none;			
}

text.tag {
    width: 60px;                    
    height: 28px;                   
    padding: 2px;               
    font: 14px sans-serif;      
    border: 1px;        
    border-radius: 8px;         
    pointer-events: none;
    text-anchor: middle;
}

.lrect {
    height:33px;
    width: 56px;
    text-anchor: middle;
    stroke: black;
    stroke-width: 1px;
}

.lbutton {
    height:33px;
    width: 56px;
}

<<<<<<< HEAD
table { 
    width: 60%; 
    border-collapse: collapse; 
}

th { 
    background: #333; 
    color: white; 
    font-weight: bold; 
    cursor: s-resize;
    background-repeat: no-repeat;
    background-position: 3% center;
}

td, th { 
    padding: 6px; 
    border: 1px solid #ccc; 
    text-align: left; 
}

tr:hover
{
    background-color: #FFFF6B;	
}
