<!DOCTYPE html>
<html>

<head>
	<title>D3 Demo</title>
	<link rel="stylesheet" type="text/css" href="static/css/style.css">
	<script src="http://d3js.org/d3.v4.min.js"></script>
</head>

<body>
	<h1>Map interactive</h1>
	<script>

		/// AFFICHAGE MAP /// 

		d3.select("body").append("div")

		var canvas = d3.select("div").append("svg")
						.attr("height", 700)
						.attr("width", 700) 

		var canvas1 = d3.select("div").append("svg")
						.attr("height", 1)
						.attr("width", 1) 

		var group;
		var areas;
		var data1;

		// données à afficher
		/*
		d3.json("static/logement.json", function (data) {
			 data1 = canvas1.selectAll("g")
					.data(data)
					.enter()
						.append("g")
						.attr('id', function (d) {
							return d.inseecode;
						})
						.attr("intensity", function (d) {
							return d.portion_hlm_tenant;
						})._groups[0]

		})
		*/
		d3.json("static/logement.json", function (data) {
			 data1 = canvas1.selectAll("g")
					.data(data)
					.enter()
						.append("g")
						.attr('id', function (d) {
							return d.inseecode;
						})
						.attr("intensity", function (d) {
							return d.portion_hlm_tenant;
						})._groups[0]

		})

		// chargement de la map
		d3.json("static/idf.geojson", function (data) {

			// boite pour afficher les tags sur la map
			var mouse_div = d3.select("div").append("div")	
    				.attr("class", "tooltip")				
    				.style("opacity", 0);

    		// échelle de couleur 
			var color = d3.scaleLinear()
						.domain([0, 60])
						.range(["white", "steelblue"]);

			// groupe de toutes les communes
			group = canvas.selectAll("g")
						.data(data.features)
						.enter()
							.append("g")

			// projection et path de projection 
			var projection = d3.geoMercator().scale(12000).translate([-200,12000]);

			var path = d3.geoPath().projection(projection);


			// représentation de chaque communes : couleur et mouse tag
			areas = group.append("path")
						.attr("d", path)
						.attr("class", "area")
						.attr("fill", function (d) {
							for (i=0; i<data1.length; i++) {
								if (data1[i].id==d.properties.code) {
									return color(data1[i].getAttribute("intensity"));
									}
								}
							})
						.on("mouseover", function (d) {
                			mouse_div.text(d.properties.nom)
                				.style("opacity", 1)
                				.style("background-color", "lightsteelblue")
                				.style("left", (d3.event.pageX) + "px")     
           						.style("top", (d3.event.pageY - 30) + "px");	
						})
						.on("mouseout", function (d) {
							mouse_div.style("opacity", 0);
						})

		})




	</script>

	<h1>Pie charts</h1>

	<script>
		/// AFFICHAGE PIE CHART ///

		var width = 600
		var height = 600
		var r = 150
		var e = 60 //épaissur < r
		var color = d3.schemeCategory20c

	    data = [
	    		{"label":"-25 ans", "value":20}, 
	            {"label":"25-64 ans", "value":50}, 
	            {"label":"+65 ans", "value":30}
	            ];
	    
	    var vis = d3.select("body")
	        .append("svg")
	        .attr("width", width)
	        .attr("height", height)

	    var circle = vis.append("g")
	    				.attr("class", "circlebox");
	    
	    circle.append("circle")
			    .attr("cx", 2*r)
			    .attr("cy", 2*r)
			    .attr("r", r-e-5) 
			   	.attr("opacity", 0.05)
			   	.attr("fill", "white");
	   				
	   	circle.append("text")
	   			.attr("class", "tag")
	   			.attr("transform", "translate("+2*r+","+2*r+")"); 

	    var g = vis.data([data])
	            .attr("width", width)
	            .attr("height", height)
	       		 .append("g")
	            .attr("transform", "translate(" + 2*r + "," + 2*r + ")")

	    var arc = d3.arc()
	        .outerRadius(r)
	        .innerRadius(r-e)
	        .cornerRadius(3)
	        .padAngle(0.015);

	    var pie = d3.pie()
	        .value(function(d) { return d.value; });

	    var arcs = g.selectAll("slice")
	        .data(pie)
	        .enter()
	            .append("g")

	    arcs.append("path")
	            .attr("fill", function(d) { 
	            	return color[d.index]; } )
	            .attr("d", arc)

	    arcs.selectAll("path")
	            .on("mouseover", function(d) {
	            	bigarc = d3.arc()
	            				.outerRadius(r+3)
	        					.innerRadius(r-e-4)
						        .cornerRadius(3)
						        .padAngle(0.015)
	            	d3.select(this)
	            		.transition().duration(200)
	            		.attr("d", bigarc)
	               	circle.selectAll("circle")
	               		.transition().duration(200)
	                	.attr("fill", function() { 
	                		return color[d.index]; })
	                	.attr("opacity", 1)
	                circle.selectAll("text")
	                	.transition().duration(200)
	                	.text("Benchmark average:"+d.index)
	                })
	            .on("mouseout", function(d) {
	                circle.selectAll("circle")
	                	.transition().duration(200)
	                	.attr("opacity", 0)
	                circle.selectAll("text")
	                	.transition().duration(200)
	                	.text("")
	                smallarc = d3.arc()
	            				.outerRadius(r)
	        					.innerRadius(r-e)
						        .cornerRadius(3)
						        .padAngle(0.015)
	            	d3.select(this)
	            		.transition().duration(300)
	            		.attr("d", smallarc)
	                });

	    arcs.append("text")
	    		.attr("class", "tag")
	            .attr("transform", function(d) {
	            d.innerRadius = 0;
	            d.outerRadius = r;
	            return "translate(" + arc.centroid(d) + ")";
	            })
	            .text(function(d, i) { return data[i].label; });




	</script>

	<h1>Bar graph interactif</h1>

	<button class="randomize">Other city</button>

	<script type="text/javascript">
	    /// AFICHAGE BAR GRPAH ///

	    d3.select("body").append("h3").text("code insee : "+ {{ city_code }})

	    var canvas3 = d3.select("body").append("div")

	    // graph
		var svg = canvas3.append("svg")
					.attr("width", 1000)
	    			.attr("height", 700)
	    			.attr("top", 200)


	    // legend
	    var svg2 = canvas3.append("svg")
						.attr("width", 1500)
	    				.attr("height", 60)
	    				.attr("class", "legend")

	    var mouse = d3.select("body").append("div")	
    				.attr("class", "tooltip")				
    				.style("opacity", 0);
		    
		var margin = {top: 100, right: 20, bottom: 30, left: 40},
		    width = +svg.attr("width") - margin.left - margin.right,
		    height = +svg.attr("height") - margin.top - margin.bottom,
		    g = svg.append("g").attr("transform", "translate(" + margin.left + "," + margin.top + ")");

		var x0 = d3.scaleBand()
		    .rangeRound([0, width])
		    .paddingInner(0.1);

		var x1 = d3.scaleBand()
		    .padding(0.05);

		var y = d3.scaleLinear()
		    .rangeRound([height, 0]);

		var z = d3.scaleOrdinal()
		    .range(["#98abc5", "#8a89a6", "#7b6888", "#6b486b", "#a05d56", "#d0743c", "#ff8c00"]);

		var keys_user;

		var keys_all;

		function remove(arr, what) {
    		var found = arr.indexOf(what);

    		while (found !== -1) {
        		arr.splice(found, 1);
        		found = arr.indexOf(what);
			    }
			}

		var city_code = {{ city_code }};

		function getindex(index_list, city_code) {
			for (i=0; i<index_list.length; i++) {
				if (index_list[i]["code"]==city_code) {
					return index_list[i]["index"]
				}
			}
		}
			
		// création des boutons
		function build_legend(keys_user) {

			d3.json("static/budgetsD3.json", function(data) {
				keys_all = Object.keys(data[0]["years"][0]["values"]);

				var legend = svg2.selectAll("g")
								.data(keys_all)
								.enter()
									.append("g")
									.attr("width", 60)
									.attr("heigth", 35)
									.attr("font-family", "sans-serif")
								    .attr("font-size", 12)
								    .attr("text-anchor", "middle")
								    .attr("transform", function(d, i) { return "translate(" + i * 60 + ", 0)"; })

				legend.append("rect")
					.attr("fill", function(d) { return z(d); })
					.attr("class","lrect")

				legend.append("text")
					.attr("x", function(k,i) {return 28;})
					.attr("y", 20)
					.text(function(k) {return k;})

				legend.append("rect")
					.attr("class","lbutton")
					.attr("opacity", function(d) {
						console.log(keys_user.indexOf(d)>=0)
						if (keys_user.indexOf(d)>=0) {return 0;} 
						else {return 0.5;}
						})

				});

		}

		// affichage des donées + interaction
		d3.json("static/budgetsD3.json", function(data) {

		  var index_list = data.map(function(d, i) {return {index: i, code : d["code"] }})
		  var j = getindex(index_list, city_code)
		  console.log("this is j : " + j)
		  keys_all = Object.keys(data[0]["years"][0]["values"]);
		  keys_user = [keys_all[0]];
		  change(data, j, keys_user);
		  build_legend(keys_user);

		  d3.selectAll(".randomize")
		  	.on("click", function() { 
		  		var j = Math.round(10*Math.random(),1)
		  		console.log("clic");
		  		change(data, j, keys_user);
		  	})


		  svg2.selectAll(".lbutton")
		  	.on("click", function(i) {
		  		if (keys_user.indexOf(i)>=0) {
		  			remove(keys_user, i);
		  			this.attributes.opacity.value=0.5;
		  		} else {
		  			keys_user.push(i)
		  			this.attributes.opacity.value=0;
		  		}
		  		console.log(keys_user);
		  		change(data, j, keys_user);
		  	})

		  	svg2.selectAll(".lbutton")
		  		.on("mouseover", function() {
		  			if (this.attributes.opacity.value!=0) {
		  			this.attributes.opacity.value=0.1;
		  				}
		  			})
		  		.on("mouseout", function() {
		  			if (this.attributes.opacity.value!=0) {
		  			this.attributes.opacity.value=0.5;
		  				}
		  			})

		  function change(data, j, keys_user) {

		  	  svg.selectAll(".trans").remove()
		  	  svg.selectAll(".axis").remove()

			  data = data[j]["years"]

			  var year_keys = data.map(function(d) {return d["year"];})

			  x0.domain(year_keys);
			  x1.domain(keys_user).rangeRound([0, x0.bandwidth()]);

			  y.domain([0, d3.max(data, function(d) { return d3.max(keys_user, function(key) { return d["values"][key]; }); })]).nice();

			  g.append("g")
			    .selectAll("g")
			    .data(data)
			    .enter()
			    	.append("g")
			    	.attr("class", "trans")
			      	.attr("transform", function(d) { return "translate(" + x0(d["year"]) + ",0)"; })
			    .selectAll("rect")
			    .data(function(d) { return keys_user.map(function(key) { return {key: key, value: d["values"][key]}; }); })
			    .enter().append("rect")
			      .attr("x", function(d) { return x1(d.key); })
			      .attr("width", x1.bandwidth())
			      .attr("y", height)
			      .attr("height", 0)
			      .on("mouseover", function (d) {
                		mouse.text(d.key + " : "+ d.value)
                			.style("opacity", 0.85)
                			.style("left", (d3.event.pageX) + "px")     
           					.style("top", (d3.event.pageY - 30) + "px")
           					.style("background-color", z(d.key))
           					.style("border-color", "rgb(14,14,14)");
						})
				  .on("mouseout", function (d) {
						mouse.style("opacity", 0);
					})
			      .transition().duration(1000)
			      	.attr("height", function(d) { return height-y(d.value); })
			      	.attr("y", function(d) { return y(d.value);})
			      	.attr("fill", function(d) { return z(d.key); });

			  g.append("g")
			      .attr("class", "axis")
			      .attr("transform", "translate(0," + height + ")")
			      .call(d3.axisBottom(x0));

			  g.append("g")
			      .attr("class", "axis")
			      .call(d3.axisLeft(y).ticks(null, "s"))
			    .append("text")
			      .attr("x", 10)
			      .attr("y", y(y.ticks().pop()) + 0.5)
			      .attr("dy", "0.32em")
			      .attr("fill", "#000")
			      .attr("font-weight", "bold")
			      .attr("text-anchor", "start")
			      .text("Euros");

			  var legend = svg.append("g")
			      .attr("font-family", "sans-serif")
			      .attr("font-size", 10)
			      .attr("text-anchor", "end")
			    .selectAll("g")
			    .data(keys_all.slice().reverse())
			    .enter().append("g")
			      .attr("transform", function(d, i) { return "translate(0," + i * 20 + ")"; });
			}
		});

	</script>

	<h1>Classements dans le benchmark</h1>

	<script type="text/javascript">
	// AFFICHAGE RANKING 

	var canvas4 = d3.select("body")
					.append("div")
						.attr("id", "page-wrap")
						.attr("width", 1000)
						.attr("hieght", 1000)


	  d3.json("static/test.json", function(data) {
		  
		  var sortAscending = true;
		  var table = d3.select('#page-wrap').append('table');
		  var titles = Object.keys(data[0]);
		  var headers = table.append('thead').append('tr')
		                   .selectAll('th')
		                   .data(titles).enter()
		                   .append('th')
		                   .text(function (d) {
			                    return d;
		                    })
		                   .on('click', function (d) {
		                	   headers.attr('class', 'header');
		                	   
		                	   if (sortAscending) {
		                	     rows.sort(function(a, b) { return b[d] < a[d]; });
		                	     sortAscending = false;
		                	     this.className = 'aes';
		                	   } else {
		                		 rows.sort(function(a, b) { return b[d] > a[d]; });
		                		 sortAscending = true;
		                		 this.className = 'des';
		                	   }
		                	   
		                   });
		  
		  var rows = table.append('tbody').selectAll('tr')
		               .data(data).enter()
		               .append('tr');
		  rows.selectAll('td')
		    .data(function (d) {
		    	return titles.map(function (k) {
		    		return { 'value': d[k], 'name': k};
		    	});
		    }).enter()
		    .append('td')
		    .attr('data-th', function (d) {
		    	return d.name;
		    })
		    .text(function (d) {
		    	return d.value;
		    });
	  });
	</script>
</body>
</body>

</html>
